.body, html{
	font-family:Arial, Helvetica, sans-serif;
	background:#0091f9;
	 height: 100%;
	 
}
body{
	
}
.row {
   margin-right: -15px;
    margin-left: -15px;
}
.head-container{
	border: 0.5px solid #979797;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
}
.head-row {
    padding: 7px 7px 0px 7px;
    background: linear-gradient(#f1f1f1, #c4c4c4);
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.head-row:after {
    content: "";
    display: table;
    clear: both;
}
.head-row-two{
	padding: 5px;
    background: linear-gradient(#efefef, #dcddde);
	border-top:.5px solid #8c8c8c;
}
.head-row-two:after {
    content: "";
    display: table;
    clear: both;
}
.content-container{
	border: 0.5px solid #979797;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    
}
.content-row{
   padding: 10px;
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 84%;
    overflow: auto;
    text-align: center;
}
.content-center{
  margin-top: 100px;
}
.top-panel{
	float:left;
}
.left-panel{
	width:5%;
}
.middle-panel{
	width:93%;
}
.url-text-box{
	 position: relative;
}
.url-text-box input{
    width: 100%;
    border-radius: 3px;
    border: none;
	border-color:.5px #c1c2c2;
    background-color: white;   
    height: 25px;
    color: #666;
    padding: 5px;
	margin-top:2px;
}
.text-box input{
  width: 50%;
    border-radius: 3px;    
    border-color: .5px #c1c2c2;
    background-color: white;
    height: 35px;
    color: #666;
    padding: 5px;
    margin-top: 10px;
  }
.url-text-box img{
	position:absolute;
	right:6px;
	top:6px;
}
.right-panel{
	width:1.5%;
}
.browser-control{
	margin-top: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
	margin:4px 2px 0px 2px;
}
.close{
	background-image:url(../images/close.png);
}
.restore{
	background-image:url(../images/restore.png);
}
.minimize{
	background-image:url(../images/minimize.png);
}
.close:hover{
	background-image:url(../images/close-hover.png);
}
.restore:hover{
	background-image:url(../images/restore-hover.png);
}
.minimize:hover{
	background-image:url(../images/minimize-hover.png);
}
.bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
}
.bottom-left-panel{
	width:8%;
}
.bottom-middle-panel{
	width:88.5%;
}
.bottom-right-panel{
	width:1.5%;
	padding:7px;
}
.page-control{
	padding:5px;
}
.page-control-icon{
	padding:0px 3px;
}
.expand-icon{
	margin: 3px 0;   
}
.float-right{
	float:right;
}
.tabs {
  position: relative; 
  clear: both;  
  background: white;
}
.tab {
  float: left;
  margin-top: 8px;
}
.tab label {
  background: linear-gradient(#dedddb, #cacacc); 
  padding: 7px 115px 7px 28px; 
  border: 1px solid #8c8c8c; 
  margin-left: -1px; 
  position: relative;
  font-size: 12px;
  -webkit-transition: background-color .17s linear;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.tab [type=radio] {
  display: none;   
}
[type=radio]:checked ~ label {
  background: linear-gradient(#f0f0f0, #eeeeee);
  border-bottom: 1px solid #eeeeee;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}
.favicon-chrome{
  position: absolute;
  margin-left: 7px;
  z-index: 3;
  vertical-align: top;
  pointer-events: none;
  margin-top: -1px; 
}
.favicon-newtab{
  position: absolute;
  margin-left: 7px;
  z-index: 3;
  vertical-align: top;
  pointer-events: none;
  margin-top: -1px; 
}